@font-face
  font-family Open Sans
  src url(../fonts/opensans/opensans-light-webfont.eot)
  src url(../fonts/opensans/opensans-light-webfont.eot?#iefix) format('embedded-opentype'),
      url(../fonts/opensans/opensans-light-webfont.woff2) format('woff2'),
      url(../fonts/opensans/opensans-light-webfont.woff) format('woff'),
      url(../fonts/opensans/opensans-light-webfont.ttf) format('truetype'),
      url(../fonts/opensans/opensans-light-webfont.svg#open_sanslight) format('svg')
  font-weight 300
  font-style normal
  
@font-face
  font-family Open Sans
  src url(../fonts/opensans/opensans-regular-webfont.eot)
  src url(../fonts/opensans/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),
      url(../fonts/opensans/opensans-regular-webfont.woff2) format('woff2'),
      url(../fonts/opensans/opensans-regular-webfont.woff) format('woff'),
      url(../fonts/opensans/opensans-regular-webfont.ttf) format('truetype'),
      url(../fonts/opensans/opensans-regular-webfont.svg#open_sansregular) format('svg')
  font-weight 400
  font-style normal
  