vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-sizing()
  vendor('box-sizing', arguments)

animation()
  vendor('animation', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)
  
box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

text-shadow()
  -moz-text-shadow arguments
  -webkit-text-shadow arguments
  text-shadow arguments

prevent-doubleclick()
  vendor('user-select', none)

bp-xs()
  @media only screen and (max-width: 768px)
    {block}

bp-sm()
  @media only screen and (max-width: 992px)
    {block}
    
bp-md()
  @media only screen and (max-width: 1200px)
    {block}
    