doctype html
html(lang="en")
  include partials/head

  body
    include partials/header
    #main
      #brunch-wrapper
        #pixel-brunch
        #caption.text-center
          .hearty-brunch Hearty Brunch
          .less-hearty-brunch Less Hearty Brunch...
    include partials/footer
